<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application android:supportsRtl="true">

        <activity
            android:name="com.ownid.sdk.internal.flow.OwnIdFlowActivity"
            android:enabled="true"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/OwnIdTheme.Hidden" />

        <activity
            android:name="com.ownid.sdk.internal.flow.steps.webapp.OwnIdWebAppActivity"
            android:enabled="true"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:theme="@style/OwnIdTheme.Hidden" />

        <activity
            android:name="com.ownid.sdk.internal.flow.steps.webapp.OwnIdWebAppRedirectActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ownid"
                    android:path="/redirect/"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
    </application>
</manifest>